In [ ]:
# 1. Find the average value for each of the following lists:
# [20, 30, 40]
# [57, 52, 67, 89, 214]
# 2. Print first 10 natural numbers using while loop
# 3. Write a Python code to print the following number pattern:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
# 4. Print multiplication table of a given number.
# 5. Write a Python program to count the total number of digits in a number.
# For example, the number is 75869, so the output should be 5.
# 6. Write a function that determines if two strings are anagrams (contain the exact same characters in a different order).
# 7. Write a function calculation() that accepts two variables and calculates both their addition and subtraction. The function should then return both the sum and the difference in a single return statement.
# 8. Write a program to create a function show_employee() with the following specifications:

#     It should accept the employeeâ€™s name and salary.
#     It should display both the name and salary.
#     If the salary is not provided in the function call, it should default to 9000.

# 9. Generate a Python list of all the even numbers between 4 to 30.
# 10. Perform basic dictionary operations
# Given:my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
# Perform following operations on given dictionary
# Add New Key-Value Pair: Add a new key-value pair, 'profession': 'Doctor', to the dictionary and print the updated dictionary.
# Modify Value: Change the value of the age key to 40 in the dictionary and print the updated dictionary.
# Access Key: Print the value associated with the city key.

# 11. Write a Python program to convert two Python lists into a dictionary where elements from the first list become keys and elements from the second list become values.
# keys = ['Ten', 'Twenty', 'Thirty']
# values = [10, 20, 30] - > {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
#1
def find_average(numbers):
  sum = 0
  for i in numbers:
    sum += i

  return sum / len(numbers)

find_average([20, 30, 40])

30.0

In [ ]:
#2
count = 0
while count < 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#3
def print_pattern(range_number):
  lst = []
  for i in range(range_number):
    lst.append(i)
    print(*lst)


print_pattern(10)

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [ ]:
#4
def print_multi(number):
  for i in range(10):
    print(f"{number} x {i} = {number * i}")

print_multi(4)

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [ ]:
#5
def count_length(number):
  return len(str(number))

print(count_length(23423452))

8

In [ ]:
#6
def is_anagram(str1, str2):
  return "anagram" if sorted(str1) == sorted(str2) else "no anagram"

print(is_anagram("sdfsd", "sdfsd"))

anagram

In [ ]:
#7
def calculation(n1, n2):
  return f"Addition: {n1 + n2} \nSubtraction: {n1 - n2}"

print(calculation(12, 15))

Addition: 27
Subtraction: -3

In [ ]:
#8
def show_employee(name, salary = 9000):
  return name, salary

print(show_employee("Jasur"))

('Jasur', 9000)

In [ ]:
#9
def find_even():
  lst = []
  for i in range(4, 30):
    if i not in lst and i % 2 == 0:
      lst.append(i)

  return lst

print(find_even())

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [4]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}
my_dict['profession'] = 'Doctor'
my_dict['age'] = 40
print(my_dict['city'])
my_dict

New York

{'name': 'Alice', 'age': 40, 'city': 'New York', 'profession': 'Doctor'}

In [7]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
new_dict = {}

for i in range(len(keys)):
  new_dict[keys[i]] = values[i]

new_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}