In [ ]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df.groupby("user_id")["amount"].sum()
df.groupby("user_id")["amount"].mean()
df.groupby("user_id")["amount"].max()

user_id
1    200
2    300
3    400
Name: amount, dtype: int64

In [12]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df.groupby("category")["user_id"].count().loc[lambda x: x < 2]

category
A    4
B    3
Name: user_id, dtype: int64

In [17]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df.loc[df.groupby("user_id")['date'].idxmax(), ["user_id", "amount"]]

   user_id  amount
1        1     200
3        2     300
6        3      50

In [18]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df.pivot_table(
    values="amount",
    index="category",
    aggfunc="sum"
)

          amount
category
A            600
B            700

In [2]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df.pivot_table(
    values="amount",
    index=["user_id", "category"],
    aggfunc=["sum", "count"],
)

                    sum  count
                 amount amount
user_id category
1       A           100      1
        B           200      1
2       A           450      2
3       A            50      1
        B           500      2

In [9]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
users = pd.DataFrame({
    "user_id": [1,2,3,4],
    "name": ["Ali","Vali","Sardor","Madina"],
    "age": [25,30,22,28]
})

pd.merge(df, users, how="inner")

   user_id category  amount       date    name  age
0        1        A   100.0 2024-01-01     Ali   25
1        1        B   200.0 2024-01-05     Ali   25
2        2        A   150.0 2024-01-02    Vali   30
3        2        A   300.0 2024-01-07    Vali   30
4        3        B   400.0 2024-01-03  Sardor   22
5        3        B   100.0 2024-01-08  Sardor   22
6        3        A    50.0 2024-01-10  Sardor   22
7        4      NaN     NaN        NaT  Madina   28

In [10]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
users = pd.DataFrame({
    "user_id": [1,2,3,4],
    "name": ["Ali","Vali","Sardor","Madina"],
    "age": [25,30,22,28]
})

pd.merge(df, users, how="inner")

   user_id category  amount       date    name  age
0        1        A     100 2024-01-01     Ali   25
1        1        B     200 2024-01-05     Ali   25
2        2        A     150 2024-01-02    Vali   30
3        2        A     300 2024-01-07    Vali   30
4        3        B     400 2024-01-03  Sardor   22
5        3        B     100 2024-01-08  Sardor   22
6        3        A      50 2024-01-10  Sardor   22

In [12]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
users = pd.DataFrame({
    "user_id": [1,2,3,4],
    "name": ["Ali","Vali","Sardor","Madina"],
    "age": [25,30,22,28]
})

pd.merge(df, users, how="right")

   user_id category  amount       date    name  age
0        1        A   100.0 2024-01-01     Ali   25
1        1        B   200.0 2024-01-05     Ali   25
2        2        A   150.0 2024-01-02    Vali   30
3        2        A   300.0 2024-01-07    Vali   30
4        3        B   400.0 2024-01-03  Sardor   22
5        3        B   100.0 2024-01-08  Sardor   22
6        3        A    50.0 2024-01-10  Sardor   22
7        4      NaN     NaN        NaT  Madina   28

In [16]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
df['amount_difference'] = df['amount'].diff()
df

   user_id category  amount       date  amount_difference
0        1        A     100 2024-01-01                NaN
1        1        B     200 2024-01-05              100.0
2        2        A     150 2024-01-02              -50.0
3        2        A     300 2024-01-07              150.0
4        3        B     400 2024-01-03              100.0
5        3        B     100 2024-01-08             -300.0
6        3        A      50 2024-01-10              -50.0

In [17]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
df['cumulative_sum'] = df['amount'].cumsum()
df

   user_id category  amount       date  cumulative_sum
0        1        A     100 2024-01-01             100
1        1        B     200 2024-01-05             300
2        2        A     150 2024-01-02             450
3        2        A     300 2024-01-07             750
4        3        B     400 2024-01-03            1150
5        3        B     100 2024-01-08            1250
6        3        A      50 2024-01-10            1300

In [18]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)
df['moving_average'] = df['amount'].rolling(2).mean()
df

   user_id category  amount       date  moving_average
0        1        A     100 2024-01-01             NaN
1        1        B     200 2024-01-05           150.0
2        2        A     150 2024-01-02           175.0
3        2        A     300 2024-01-07           225.0
4        3        B     400 2024-01-03           350.0
5        3        B     100 2024-01-08           250.0
6        3        A      50 2024-01-10            75.0

In [20]:
import pandas as pd

data = {
    "user_id": [1,1,2,2,3,3,3],
    "category": ["A","B","A","A","B","B","A"],
    "amount": [100,200,150,300,400,100,50],
    "date": pd.to_datetime([
        "2024-01-01","2024-01-05",
        "2024-01-02","2024-01-07",
        "2024-01-03","2024-01-08","2024-01-10"
    ])
}
df = pd.DataFrame(data)

df = df.sort_values("date").set_index("date")

end = df.index.max()
start = end - pd.Timedelta(days=6)

filtered_data = df.loc[start:end]

total_last_7_days = filtered_data["amount"].sum()

print(filtered_data)
print("Last 7 days total:", total_last_7_days)

            user_id category  amount
date
2024-01-05        1        B     200
2024-01-07        2        A     300
2024-01-08        3        B     100
2024-01-10        3        A      50
Last 7 days total: 650