In [7]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)

print(df[0:3])

      Ism  Yoshi     Shahar   Maoshi
0     Ali     25   Toshkent  5000000
1    Vali     30  Samarqand  7000000
2  Sardor     22     Buxoro  4500000

In [9]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)

print(df[["Ism", "Maoshi"]])

      Ism   Maoshi
0     Ali  5000000
1    Vali  7000000
2  Sardor  4500000
3  Madina  8000000
4   Zuhra  5000000

In [10]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ism     5 non-null      object
 1   Yoshi   5 non-null      int64
 2   Shahar  5 non-null      object
 3   Maoshi  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [11]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)

print(df.describe())

           Yoshi        Maoshi
count   5.000000  5.000000e+00
mean   26.000000  5.900000e+06
std     3.082207  1.516575e+06
min    22.000000  4.500000e+06
25%    25.000000  5.000000e+06
50%    25.000000  5.000000e+06
75%    28.000000  7.000000e+06
max    30.000000  8.000000e+06

In [15]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
print(df.iloc[2:3])

      Ism  Yoshi  Shahar   Maoshi
2  Sardor     22  Buxoro  4500000

import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
print(df.loc[2:2])

In [28]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
filtered_df = df[df["Maoshi"] > 5000000]
print(filtered_df)

      Ism  Yoshi     Shahar   Maoshi
1    Vali     30  Samarqand  7000000
3  Madina     28   Toshkent  8000000

In [30]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
filtered_df = df[df["Shahar"] == "Toshkent"]
print(filtered_df)

      Ism  Yoshi    Shahar   Maoshi
0     Ali     25  Toshkent  5000000
3  Madina     28  Toshkent  8000000

In [34]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
sorted_values = df.sort_values("Maoshi", ascending=False)
print(sorted_values)

      Ism  Yoshi     Shahar   Maoshi
3  Madina     28   Toshkent  8000000
1    Vali     30  Samarqand  7000000
0     Ali     25   Toshkent  5000000
4   Zuhra     25   Namangan  5000000
2  Sardor     22     Buxoro  4500000

In [38]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}

df = pd.DataFrame(data)
medium = df['Yoshi'].median()
print(medium)

25.0

In [42]:
import pandas as pd

data = {
    'Ism': ['Ali', 'Vali', 'Sardor', 'Madina', 'Zuhra'],
    'Yoshi': [25, 30, 22, 28, 25],
    'Shahar': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Namangan'],
    'Maoshi': [5000000, 7000000, 4500000, 8000000, 5000000]
}
df = pd.DataFrame(data)
df["Jinsi"] = ["Ayol", "Erkak","Erkak","Erkak","Erkak",]

print(df)

      Ism  Yoshi     Shahar   Maoshi  Jinsi
0     Ali     25   Toshkent  5000000   Ayol
1    Vali     30  Samarqand  7000000  Erkak
2  Sardor     22     Buxoro  4500000  Erkak
3  Madina     28   Toshkent  8000000  Erkak
4   Zuhra     25   Namangan  5000000  Erkak